<p>student-crud works!</p>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
            <form #f="ngForm"  >
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input
                      type="text"
                      id="firstName"
                      class="form-control"

                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="firstName"

                    />
                    <label class="form-label" for="firstName">First Name</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                      type="tel"
                      id="EmpId"
                      class="form-control"

                      [(ngModel)]="empID"
                      [ngModelOptions]="{ standalone: true }"

                    />
                    <label class="form-label" for="EmpId">EmpId</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                      type="tel"
                      id="phoneNumber"
                      class="form-control"

                      [(ngModel)]="phoneNumberr"
                      [ngModelOptions]="{ standalone: true }"

                    />
                    <label class="form-label" for="phoneNumber"
                      >Phone Number</label
                    >
                  </div>
                </div>

                <div class="mt-4 pt-2">
                  <input
                    class="btn btn-primary btn-lg"
                    type="button"
                    value="Submit"
                    (click)="save()"
                    [disabled]="!f.valid"
                  />
                </div>
                <div class="mt-4 pt-2">
                  <button class="btn btn-danger" type="button" [disabled]="!f.valid" (click)="onCLear()">Clear</button>
                </div>
              </div>

              <div class="row"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr />
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Emp ID</th>
        <th scope="col">Phone</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of studentArray">
        <td>{{ item.name | uppercase }}</td>
        <td>{{ item.empID }}</td>
        <td>{{ item.phone }}</td>
        <td>
          <button class="btn btn-danger" (click)="delete(item)">Delete</button>
          <button class="btn btn-success" (click)="update(item)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
